@charset "utf-8";
/* بخش محتوا */

        .content {
            flex: 1;
            padding: 20px;
        }

        /* فرم ویرایش */
        .box {
            width: 400px;
            background: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            margin-top: 20px;
        }

        input, button {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            border-radius: 5px;
            border: 1px solid #aaa;
            font-size: 14px;
        }

        button {
            background: #f0ad4e;
            color: white;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background: #ec971f;
        }
