@charset "utf-8";
.sidebar a:hover {
    background: #d2deed;
    font-weight: bold;
}

        .content {
            flex: 1;
            padding: 20px;
        }

        /* فرم حذف */
        .box {
            width: 350px;
            background: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            margin-top: 20px;
        }

        input, button {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            border-radius: 5px;
            border: 1px solid #aaa;
            font-size: 14px;
        }

        button {
            background: #d9534f;
            color: white;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background: #c9302c;
        }