@font-face {
    font-family: 'Yekan';
    src: url(/Admin/fonts/Yekan.eot); /*اکسپلورر 9 به بعد*/
    src: url(/Admin/fonts/Yekan.eot?#iefix) format("embedded-opentype"), /*هک اکسپلورر برای نسخه های قدیمی*/
    url(/Admin/fonts/Yekan.woff) format("woff"), /*مرورگر های جدید*/
    url(/Admin/fonts/Yekan.ttf) format("truetype"), /*تمام مرورگرها به جزء اکسپلورر*/
    url(/Admin/fonts/Yekan.svg#BYekan) format("svg"); /*نسخه های قدیمی سیستم عامل iOS*/
    font-weight: normal;
    font-style: normal;
}



/* هدر */
header {
    background: linear-gradient(to left, #4a90e2, #007bff);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

/* ساختار صفحه */
.container {
    display: flex;
    height: calc(100vh - 80px);
}

/* منوی سمت راست */
.sidebar {
    width: 220px;
    background: white;
    box-shadow: -2px 0 8px rgba(0,0,0,0.1);
    padding: 20px 10px;
}

.sidebar a {
    display: block;
    padding: 12px;
    margin: 10px 0;
    text-decoration: none;
    background: #e9eef5;
    color: #333;
    border-radius: 8px;
    text-align: center;
    transition: .3s;
}

.sidebar a:hover {
    background: #d2deed;
    font-weight: bold;
}

/* بخش محتوا */
.content {
    flex: 1;
    padding: 30px;
}

/* کارت‌ها */
.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

/* فرم‌ها */
input, button, select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    transition: .3s;
    cursor: pointer;
    font-size: 19px;
}

button:hover {
    background: #0056b3;
}

/* جدول‌ها */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background: #f1f1f1;
}

/* خط جداکننده */
hr {
    border: none;
    border-top: 1px solid
