@charset "utf-8";
body {
            font-family: tahoma, sans-serif;
            direction: rtl;
            margin: 0;
            padding: 0;
        }

        header {
            background: #4a76a8;
            color: white;
            padding: 20px;
            text-align: center;
            font-size: 20px;
        }

        .container {
            display: flex;
        }

      /* منوی سمت راست */
.sidebar {
    width: 220px;
    background: white;
    box-shadow: -2px 0 8px rgba(0,0,0,0.1);
    padding: 20px 10px;
}

.sidebar a {
    display: block;
    padding: 12px;
    margin: 10px 0;
    text-decoration: none;
    background: #e9eef5;
    color: #333;
    border-radius: 8px;
    text-align: center;
    transition: .3s;
}

.sidebar a:hover {
    background: #d2deed;
    font-weight: bold;
}

        .content {
            flex: 1;
            padding: 20px;
        }

        /* فرم حذف */
        .box {
            width: 350px;
            background: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            margin-top: 20px;
        }

        input, button {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            border-radius: 5px;
            border: 1px solid #aaa;
            font-size: 14px;
        }

        button {
            background: #d9534f;
            color: white;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background: #c9302c;
        }