@section Styles {
    <link href="/Admin/css/StyleUpdate.css" rel="stylesheet" />
}
<div class="content">
    <h2>ویرایش کتاب</h2>
    <p>برای ویرایش یک کتاب، اطلاعات زیر را وارد کنید.</p>
    <form asp-controller="UpdateBook" asp-action="Index" method="post" onsubmit="UpdateBook()">

        <div class="box">
            <label>کد کتاب:</label>
            <input name="Id" type="text" placeholder="کد کتاب را وارد کنید">

            <label>عنوان جدید:</label>
            <input name="title" type="text" placeholder="عنوان را ویرایش کنید">

            <label>نویسنده جدید:</label>
            <input name="author" type="text" placeholder="نام نویسنده را ویرایش کنید">

            <label>موضوع جدید:</label>
            <input name="subject" type="text" placeholder="موضوع جدید">

            <label>خلاصه جدید:</label>
            <input name="BookSummery" type="text" placeholder="خلاصه جدید">

            <button>ویرایش کتاب</button>
        </div>
        </form>
</div>
<script>
    function UpdateBook() {

        var notification = alertify.notify('کتاب با موفقیت ویرایش گردید', 'success', 10, function(){  console.log('dismissed'); });

    };
</script>