<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>کتاب فروشی محله</title>
    <link href="/Admin/css/style.css" rel="stylesheet" type="text/css">
    <!--<script src="app.js"></script>-->
</head>
<body>

    <header>کتابخانه محلی آنلاین</header>

    <div class="container">

        <div class="sidebar">
            <a asp-controller="home" asp-action="Index">🏠 صفحه اصلی</a>
            <a asp-controller="AddBook" asp-action="Index">➕ افزودن کتاب</a>
            <a href="delete.html">❌ حذف کتاب</a>
            <a href="update.html">✏️ ویرایش کتاب</a>
            <a href="report.html">📘 گزارش گیری</a>
        </div>
         <div class="content">
        <div class="card">
             @RenderBody();
       </div>
    </div>
                    


    </div>

    <!--
    <script>
    function addBook(e) {
        e.preventDefault();

        const book = {
            id: Date.now().toString(),
            title: title.value,
            author: author.value
        };

        insertBook(book);
        alert("کتاب اضافه شد!");

        e.target.reset();
    }
    </script>
    -->

</body>
</html>

